- if host.data? :cpuinfo
  .col.s12.l12.item.cpu class=host.filter
    .card.col.s12.no-padding
      .header
        .flow-text CPU Info
        .host-header = host.name
      .col.s12
        - host.cpuinfo_format.sort_by(&:order).each do |cpu|
          .col.s6
            .card.col.s12.no-padding
              .col.s12.flow-text.center CPU #{cpu.order}
              .col.s12.aligner-wrap
                - cpu.details.sort_by(&:first).each do |key,value|
                  / This is ridiculous to format
                  - next if key.include? 'flags'
                  .bubble
                      span.green.bubble-left = key
                      span.blue.bubble-right = value





