- if host.data? :df_h
  .col.s12.l6.item.disk  class=host.filter
    .card.col.s12.no-padding
      .header
        .flow-text Disk Free
        .host-header = host.name
      .col.s12.padding
        - host.info.df_h.header.each do |header|
          .col.s2
            b = header
      .col.s12.striped.no-padding
        - host.info.df_h.rows.each do |entry|
          .col.s12.entry.relative
            - entry.each do |value|
              small.col.s2 style='z-index:1' = value
            .progress-bar.green style='width: #{entry[4]}'



