

.clippy.grey.lighten-1
  .row.no-margin
    .col.s8.offset-s2
      input.center.grey-text.text-darken-2#sosReport value="https://gitlab.com/gitlab-com/support/toolbox/gitlabsos/raw/master/gitlabsos.rb"
    .right
      .btn-flat.btn-large#clippy data-clipboard-target="#sosReport"
        i.fa.fa-clipboard 


javascript:
  new ClipboardJS('#clippy');