- if host.data? :free_m
  .col.s12.l6.item.memory  class=host.filter
    .card.col.s12.no-padding
      .header
        .flow-text Memory
        .host-header = host.name
      .col.s12.padding.grey.lighten-1.center
        .col.col7
        - host.info.free_m.first.each do |header|
          .col.col7
            b = header
      .col.s12.striped.no-padding.center
        - host.info.free_m[1..-1].each do |entry|
          .col.s12.entry.relative.padding
            - entry.each do |value|
              .col.col7 style='z-index:1' = value
            .progress-bar.green style='width: #{host.percent(entry[2],entry[1])}%'

