a.kibana href='http://localhost:5601/app/kibana#/dashboard/#{Kibana.dashboard}' target="_blank"
  i.fa.fa-external-link-alt

iframe.full src="http://localhost:5601/app/kibana#/dashboard/#{Kibana.dashboard}?embed=true&_g=(refreshInterval%3A(display%3AOff%2Cpause%3A!f%2Cvalue%3A0)%2Ctime%3A(from%3Anow-5y%2Cmode%3Aquick%2Cto%3Anow))" scrolling='no' frameborder="0" width="100%" marginheight="0"  marginwidth="0"


.bg