.col.s12.l6.item  class=host.filter
  .card.col.s12.no-padding
    .col.s12.host-title.blue.relative
      .host-icon
        i.fab.fa-lg class=host.icon
      .name = host.name
      / small.host-header style='font-size:12px' = host.archive

    .striped.no-padding
      - if host.data? :gitlab_version_manifest_json
        .col.s12.center.entry.flow-text
          .col.s6 Gitlab Version
          .col.s6
            = host.manifest_json_format.build_version

      - if host.uptime
        .col.s12.entry
          .col.s4.aligner style='height:50px;' Uptime 
          .col.s8.aligner
            - host.uptime.each do |data|
              .col.s4 
                - if data.include? 'load average'
                  - data.split(':').each do |line|
                    .col.s12 = line
                - else
                  = data



      .col.s12.entry.aligner.padding

        - if host.data? :cpuinfo
          .bubble
            span.green.bubble-left CPU Count
            span.blue.bubble-right = host.cpuinfo_format.count

        - if host.data? :free_m
          .bubble
            span.green.bubble-left Total Memory 
            span.blue.bubble-right = host.total_memory

        - if host.data? :lscpu
          .bubble
            span.green.bubble-left = host.cpu_speed.first
            span.blue.bubble-right = host.cpu_speed.last.to_i

          / .col.s6.center
          /   .col.s6 CPU Count 
          /   .col.s6 = host.cpuinfo_format.count

        / - if host.data? :free_m
        /   .col.s6.center
        /     .col.s6 Total Memory 
        /     .col.s6 = host.total_memory


          
      - if host.data? :uname
        .col.s12.entry.center
          small = host.info.uname.join
