- unless host.info.empty?
  == slim :host_info, locals: { host: host }
  == slim :services, locals: { host: host }
  == slim :mount, locals: { host: host }
  == slim :disk_free, locals: { host: host }
  == slim :free_m, locals: { host: host }
  == slim :meminfo, locals: { host: host }
  == slim :netstat, locals: { host: host }
  == slim :manifest, locals: { host: host }
  == slim :vmstat, locals: { host: host }
  == slim :ulimit, locals: { host: host }
  == slim :process, locals: { host: host }
  == slim :systemctl_unit_files, locals: { host: host }
  == slim :cpuinfo, locals: { host: host }


  - unless ENV['PRY']
    .col.s12.center.grey.lighten-3.item class=host.filter
      h5 fields
      - host.missing.each do |field|
        .col.s3 = field

  .row
    - host.missing.each do |field|
      - next if host.info[field].nil?
      .col.s12.l6.item class="#{host.category(field)} #{host.filter}"
        .card
          .header.grey.expands
            .flow-text = field
            .host-header = host.name
          .content.animated.fadeIn.striped
            - host.info[field].each do |row|
              .col.s12.entry = row