.container
  - unless System.list.empty?
    input.search placeholder="Search"

    #filters.row
      input.btn.space id='clear' type='button' value='Clear'
      label
        input.filter type="checkbox"  data-filter=".gitlab"
        span Gitlab
      label
        input.filter type="checkbox"  data-filter=".disk"
        span.space Disk
      label
        input.filter type="checkbox"  data-filter=".memory"
        span Memory
      label
        input.filter type="checkbox"  data-filter=".cpu"
        span CPU
      label
        input.filter type="checkbox"  data-filter=".network"
        span Network
      label
        input.filter type="checkbox"  data-filter=".system"
        span System
      .row.grey.lighten-4.padding-top
        .btn-flat style='margin-right:11px;' id='clear'
          | Hosts
        - System.list.each do |host|
          label
            input.filter type="checkbox"  data-filter=".#{host.filter}"
            span.host-span = host.name


.container-fluid.padding
  == slim :footer
  .row.grid
    == slim :stats
    - System.list.each do |host|
        == slim :host, locals: { host: host }




javascript:
  var qsRegex;
  var buttonFilter;

  // Search Box

  $('.search').keyup( $.debounce( 250, startSearch ) ); // This is the line you want!

  function startSearch(){
        console.log('up')

    $('.grid').unmark()
    qsRegex = new RegExp( $('.search').val(), 'gi' );
    $('.grid').markRegExp(qsRegex)
    $('.grid').isotope();
  }


  // Clear all Options
  $('#clear').click(function() {
    $('.search').val('')
    $('.grid').unmark()
    $('.filter').each(function(){
      $(this).prop('checked', false)
    })
    qsRegex = ''
    buttonFilter = '*'
    $('.grid').isotope()
  })
  $('#clear').click()


  // Filter Clicks
  $('.filter').on( 'click', function() {  
    let list = $('.filter').map(function() {
      if ($(this).is(':checked')){
        return $( this ).attr('data-filter');
      }
    }).toArray().join('')

    buttonFilter = list;
    $('.grid').isotope();
  });

  $('.card').on( 'click', '.expands', function() {
    console.log('expanded')
    $( this ).parent('.card').toggleClass('expanded');
    $('.grid').isotope('layout');
  });

  // Initializer
  $('.grid').isotope({
    itemSelector: '.item',
    layoutMode: 'masonry',
    
    transitionDuration: 0,
    filter: function() {
      var $this = $(this);
      var searchResult = qsRegex ? $this.text().match( qsRegex ) : true;
      var buttonResult = buttonFilter ? $this.is( buttonFilter ) : true;
      return searchResult && buttonResult;
    }
  });



