doctype html
html
  head
    title SOS Display
    meta content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" name="viewport"

    / link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"
    link href="/css/all.css" rel="stylesheet"
    
    // Jquery
    script type='text/javascript' src='/js/jquery-2.2.4.min.js'
    
    // Materialize
    link href="/css/materialize.min.css" rel="stylesheet"
    script src="js/materialize.min.js" 

    // Sorting/Isotope
    script src="/js/isotope.pkgd.min.js" 

    // Fit text
    script src="/js/jquery.fittext.js" 

    // Animate
    link href="/css/animate.min.css" rel="stylesheet"

    // Dropify/File Uploader
    link href="/css/dropify.min.css" rel="stylesheet" type="text/css"
    script src="/js/dropify.min.js" 

    // Fit Text
    script src="/js/fitty.min.js" 

    // Debounce
    script src="/js/jquery.ba-throttle-debounce.min.js" 
    
    // Primary CSS
    link href="/css/main.css" rel="stylesheet" type="text/css"
    link href="/css/tables.css" rel="stylesheet" type="text/css"

    // Highlighting
    script src="/js/jquery.mark.js" 
  
    // Clipboard Helper
    script src="/js/clipboard.min.js" 

    // Table Sorting
    script src="js/jquery.dataTables.min.js" 
    link href="css/jquery.dataTables.min.css" rel="stylesheet"

    // Iframe
    script src="/js/jquery.fitvids.min.js" 
    
    / script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.1/js/jquery.tablesorter.min.js" 


  body
    == slim :nav
    == yield

