br
br
.container
  .row.center
    i.fa.fa-4x.fa-spinner.fa-spin
    .flow-text Articulating Splines

  .progress
    .determinate style="width: #{System.percent}%"
  .col.s12.center
    = System.current
    small.right = System.loading

  meta content="1" http-equiv="refresh"