== slim :toc

- unless System.list.empty?
  br
  .container
    - System.list.each do |host|
      .row
        .col.s12.offset-s1
          .flow-text.white-text.center.blue style='margin-bottom:5px;'  = host.name
    
        .col.s12.offset-s1
          - host.log_files.each do |log|
            .col.s3.log_file
              a.btn.blue.col.s12 href="/log/file?file=#{log}"  
                small == log.split("#{host.name}/", 2).last


  == slim :footer