- if host.data? :gitlab_version_manifest_json
  .col.s6.item.gitlab class=host.filter
    .col.s12.no-padding.card
      .host-header = host.name
      .table-header.flow-text.grey.lighten-4 Manifest
      table.display id='manifest#{host.filter}'
        thead
          tr
            th Software
            th Version
        tbody
          - host.manifest_json_format.software.each do |key,value|
            tr
              td = key
              td = value.described_version

  javascript:
    $('#manifest#{host.filter}').DataTable();
      