- if host.data? :meminfo
  .col.s12.l6.item.memory class=host.filter
    .card.col.s12.no-padding
      .header
        .flow-text Memory Info
        .host-header = host.name
      .col.s12.padding style='column-count: 4'
        - host.info.meminfo.sort_by(&:first).each do |entry|
          .bubble style='margin-right:0'
              span.green.bubble-left = entry.first
              span.blue.bubble-right = entry.last



