- if host.mount
  .col.s6.item.disk class=host.filter
    .col.s12.no-padding.card
      / .host-header = host.name
      .table-header.flow-text.grey.lighten-4 NFS Volumes
      table.display id='mountNfs#{host.filter}'
        thead
          tr
            th Source
            th Mount
            th Params
        tbody
          - host.mount.each do |entry|
            tr
              td = entry.source
              td = entry.mnt
              td.aligner-wrap
                - entry.params.each do |key, value|
                  .bubble
                    span.green.bubble-left = key
                    span.blue.bubble-right = value


  javascript:
    $('#mountNfs#{host.filter}').DataTable();
      