nav.blue
  .nav-wrapper
    ul.left.white-text 
      li
        - if request.path_info == '/logs'
          a href ='/'
            .btn-flat.white-text
              i.fa.fa-retweet.line-height.left
              | Info
        - else
          a href ='/logs'
            .btn-flat.white-text
              i.fa.fa-retweet.line-height.left
              | Logs

      - if Kibana.index
        li
          a href ='/graphs'
            .btn-flat.white-text
              i.fa.fa-chart-pie.line-height.left
              | Graphs

    a.brand-logo.center href="/"  Goggles
    ul.right
      li
        a.waves-effect.waves-light.modal-trigger href="#uploadModal"
          i.fa.fa-upload
      - unless ENV['PRY']
        li
          a href="/pry"
            i.fa.fa-hard-hat
      li
        a href="/delete"
          i.fa.fa-snowplow.red-text
      - if System.elasticsearch?
        li
          a target="_blank" href="http://localhost:5601/app/kibana#/discover?_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:now-30d,mode:quick,to:now))"
            i.fa.fa-chart-bar class='#{System.elasticsearch?}-text'


== slim :upload
