- if host.data? :netstat
  .col.s12.l6.item.network class=host.filter
    .card.col.s12.no-padding
      / .host-header = host.name
      .table-header.flow-text.grey.lighten-4 Netstat
      table.display id='netstat#{host.filter}'
        thead
          tr
            - host.info.netstat.headers.each do |header|
              th = header
        tbody
          - host.info.netstat.rows.each do |row|
            tr
              - row.each do |value|
                td = value

  javascript:
    $('#netstat#{host.filter}').DataTable({
      "lengthChange": false,
    });
      