- if host.data? :ps
  .col.s12.card.item.system.memory.cpu class=host.filter
    .col.s12.no-padding
      / .host-header = host.name
      .table-header.flow-text.grey.lighten-4 Process
      table.display id='process#{host.filter}'
        thead
          tr
            - host.ps_format.headers.each do |header|
              th = header
        tbody
          - host.ps_format.list.each do |row|
            tr
              - row.values.each do |value|
                td = value

  javascript:
    $('#process#{host.filter}').DataTable({
      "lengthChange": false,
      "order": [[ 3, "desc" ]]
    });
      