- if host.status
  .col.s12.l6.item.gitlab
    .col.s12.no-padding.card class=host.filter
      .header.lighten-1.blue
        .flow-text Gitlab Services
        .host-header = host.name
      .col.s12.padding-bottom.aligner.padding style='flex-wrap: wrap;'
        - host.status.each do |service|
          
          .btn.service class=service.status
              = service.name
          