- if Kibana.ready?
  .col.s12.l6.item.stats
    .card.col.s12.no-padding
      .header.blue.lighten-1
        .flow-text Top Requests by Duration
      .col.s12.no-padding
        .col.s12.blue.lighten-5.center
          .col.s8 Path
          .col.s2 Total
          .col.s1 AVG
          .col.s1 Count
      .col.s12.no-padding.striped
        - if Kibana.top_requests_by_duration
          - Kibana.top_requests_by_duration.each do |metric|
            .col.s12.entry
              .col.s8.ellipsis = metric.path
              .col.s2.center = distance_of_time_in_words metric.total
              .col.s1.center = metric.avg.round
              .col.s1.center = metric[:count]
      
  - if Kibana.sources
    .col.s12.l6.item.stats
      .card.col.s12.no-padding
        .header.blue.lighten-1
          .flow-text Available Sources (#{Kibana.sources.count})
        .col.s12.no-padding
          .col.s12.blue.lighten-5.center
            .col.s8 Source
            .col.s4 Count
        .col.s12.no-padding.striped
          - if Kibana.sources
            - Kibana.sources.each do |source|
              .col.s12.entry
                .col.s8.ellipsis = source['key']
                .col.s4.center = source['doc_count']


        / Kibana.top_requests_by_duration
