- if host.data? :systemctl_unit_files
  .col.s6.item.system class=host.filter
    .col.s12.no-padding.card
      .host-header = host.name
      .table-header.flow-text.grey.lighten-4
        | Systemctl
      table.display id='systemctl#{host.filter}'
        thead
          tr
            th Unit
            th State
        tbody
          - host.systemctl_format.each do |entry|
            tr
              td = entry.unit
              td.center.white-text class="#{host.systemctl_color(entry)}"
                = entry.status
      .col.s12.grey.lighten-3
        small
          ul
            li Static: the service is missing the [Install] section in its init script, so you cannot enable or disable it
            li Generated: unit files are not automatically activated by systemd. There's nothing special about them as far as systemd is concerned
            li Masked: systemd also has the ability to mark a unit as completely unstartable. Blocks Startup
  javascript:
    $('#systemctl#{host.filter}').DataTable();
      


- if host.data? :systemctl_unit_files
  .col.s12.l6.item.system class=host.filter
    .card.col.s12.no-padding
      .header
        .flow-text Systemctl Status
        .host-header = host.name
      .col.s12.padding
        - host.systemctl_format.group_by(&:status).each do |key,group|
          - next unless key == 'disabled' || key == 'enabled'
          .row
            .col.s12.center.flow-text = key
            .col.s12.aligner-wrap
              - group.each do |entry|
                .bubble
                  span.green.bubble-left.bubble-right = entry.unit
