.row style='position:absolute'
  .col.s12
    ul.table-of-contents
      - System.list.each do |host|
        li.flow-text = host.name
        - host.log_files.each do |log|
            li
              a href="/log/file?file=#{log}"  
                == log.split("#{host.name}/", 2).last
