- if host.data? :ulimit
  .col.s12.l6.item.system class=host.filter
    .card.col.s12.no-padding
      .header
        .flow-text ulimit
        .host-header = host.name
      .col.s12.aligner-wrap.padding
        - host.ulimit.each do |entry|
          .bubble
              span.green.bubble-left = entry.details
              span.blue.bubble-right = entry.value





