- if System.list.empty? && System.loading.zero?
  .container
    form action='/upload' method='post' enctype="multipart/form-data"
      .input-field
        input.dropify data-height="300" type="file" name='file'
      .input-field.center
        input.btn-large.green type="submit" value='Upload'
- else
  #uploadModal.modal
    .modal-content
      h4 Upload
      form action='/upload' method='post' enctype="multipart/form-data"
        .input-field
          input.dropify data-height="300" type="file" name='file'
        .input-field.center
          input.btn-large.green type="submit" value='Upload'



javascript: 
  $('.dropify').dropify();
  $('.modal').modal();