- if host.data? :vmstat
  .col.s12.item.system.cpu.memory class=host.filter
    .col.s12.no-padding.card
      .host-header = host.name
      .flow-text.blue.white-text.center Vmstat
      table.striped.centered
        thead
          tr.blue.lighten-4
            th.center.modal-trigger data-target="vmProc" colspan="2" Procs
            th.center.modal-trigger data-target="vmMemory"  colspan="6" Memory
            th.center.modal-trigger data-target="vmSwap"  colspan="2" Swap
            th.center.modal-trigger data-target="vmIO"  colspan="2" IO
            th.center.modal-trigger data-target="vmSystem"  colspan="2" System
            th.center.modal-trigger data-target="vmCPU"  colspan="5" CPU
          tr.blue.lighten-5
            - host.info.vmstat[1].split(' ').each do |field|
              th
                = field
        tbody
          - host.vmstat_format.each do |entry|
            tr
              - entry.each do |value|
                td = value
      .col.s12.grey.lighten-3
        small
          i.fa.fa-info-circle.padding
          | Click on the category for Meaning of the individual Values

// Experimental Helpers to Explain Details
#vmProc.modal
  .modal-content
    h4.center Procs
    .row
      .col.s12
        .col.s2.flow-text r
        .col.s10 The number of processes waiting for run time.
      .col.s12
        .col.s2.flow-text b
        .col.s10 The number of processes in uninterruptible sleep.

#vmMemory.modal
  .modal-content
    h4.center Memory
    .row
      .col.s12
        .col.s2.flow-text swpd
        .col.s10  the amount of virtual memory used.
      .col.s12
        .col.s2.flow-text free
        .col.s10  the amount of idle memory.
      .col.s12
        .col.s2.flow-text buff
        .col.s10  the amount of memory used as buffers.
      .col.s12
        .col.s2.flow-text cache
        .col.s10  the amount of memory used as cache.
      .col.s12
        .col.s2.flow-text inact
        .col.s10  the amount of inactive memory. (-a option)
      .col.s12
        .col.s2.flow-text active
        .col.s10  the amount of active memory. (-a option)


#vmSwap.modal
  .modal-content
    h4.center Swap
    .row
      .col.s12
        .col.s2.flow-text si
        .col.s10  Amount of memory swapped in from disk (/s).
      .col.s12
        .col.s2.flow-text     so
        .col.s10  Amount of memory swapped to disk (/s).

#vmIO.modal
  .modal-content
    h4.center IO
    .row
      .col.s12
        .col.s2.flow-text bi
        .col.s10  Blocks received from a block device (blocks/s).
      .col.s12
        .col.s2.flow-text     bo
        .col.s10  Blocks sent to a block device (blocks/s).


#vmSystem.modal
  .modal-content
    h4.center System
    .row
      .col.s12
        .col.s2.flow-text in
        .col.s10  The number of interrupts per second, including the clock.
      .col.s12
        .col.s2.flow-text cs
        .col.s10  The number of context switches per second.

        
#vmCPU.modal
  .modal-content
    h4.center CPU
    .row
      .col.s12.center These are percentages of total CPU time.
      .col.s12
        .col.s2.flow-text us
        .col.s10 Time spent running non-kernel code. (user time, including nice time)
      .col.s12
        .col.s2.flow-text sy
        .col.s10 Time spent running kernel code. (system time)
      .col.s12
        .col.s2.flow-text id
        .col.s10 Time spent idle. Prior to Linux 2.5.41, this includes IO-wait time.
      .col.s12
        .col.s2.flow-text wa
        .col.s10 Time spent waiting for IO. Prior to Linux 2.5.41, included in idle.
      .col.s12
        .col.s2.flow-text st
        .col.s10 Time stolen from a virtual machine. Prior to Linux 2.6.11, unknown.


javascript:
  $('.modal').modal({opacity: 0.4});