.striped .entry:nth-child(odd) {
  background-color: white;
}


.striped .entry:nth-child(even) {
  background-color: #eeeeee;
}

.relative {
  position: relative;
  z-index:  1;
}

.host-title {
  text-align: center;
  color: white;
  padding-top: 5px !important;
  font-size: 2em;
}

.service {
  margin-left:5px;
  margin-bottom: 5px;
}

.padding-top {
  padding-top: 5px;
}

.padding-bottom {
  padding-bottom: 5px !important;
}

.host-icon {
  position: absolute;
  left: 15px;
  line-height: inherit;
}

.space {
  margin-right: 15px !important;
}

.no-padding {
  padding: 0 !important;
}

.padding {
  padding: 15px !important;
}

.no-margin {
  margin: 0 !important;
}

.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}


.break {
  word-break: break-all;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.col7 {
  width: 14.28%;
}

.col11 {
  width: 8.9%;
}


.progress-bar {
  position: absolute;
  top:0;
  left: 0px;
  height: 95%;
  opacity: 0.7;
  z-index: -1;
}

.header {
  margin: 0 !important;
  text-align: center;
  background-color:#42A5F5;
  color: white;
}

.host-header {
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: 0.8em;
  color: #b4b3b3;
  padding-right: 5px;
}


/* Weird overlappting */
#filters > label > span {
  padding-left: 25px;
  margin-right: 15px;
}


.ztop {
  z-index: 50;
}

.content {
  background: white;
  transition: all 1s linear;
  display: none;
  /* margin-top: 2px; */
  border-top: 1px solid grey;
}

.expanded  > .content {
  display: block;
}

.clippy {
  position: absolute;
  width: 100%;
  opacity: 0.8;

  right: 0;
  bottom: 0;
  left: 0;
  padding:5px;
}

html {
  height: 100%;
  box-sizing: border-box;
}


body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}


.tablesorter {
  table-layout: fixed;
}

.break {
  word-break: break-all;
}

.host-span {
  top:5px;
  margin-right: 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 25%;
  overflow: hidden;
}

.line-height {
  line-height: inherit !important;
  float: left;
}

.counter {
  counter-reset: line;
}


.line:before{
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  border-right: 1px solid #ddd;
  padding: 0 .5em;
  margin-right: .5em;
  color: #888
}

.log_file {
  /* margin-bottom:3px; */
  padding:2px !important;
}


.resp-container {
  position: relative;
  /* overflow: hidden; */
  padding-top: 110%;
}
 
.resp-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  border: 0;
}

.full {
  height: 6000px;
  width: 100%;
}

.bg {
  background: #F5F7FA;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

.kibana {
  position: absolute;
  right: 10px;
  padding-top: 8px;
}

.item {
  margin-bottom: 25px;
}


.bubble {
  margin-right: 5px;
  margin-bottom: 5px;
  color: rgb(236, 236, 236);
  font-weight: 300;
  /* font-size: 0.8rem; */
}

.bubble-left {
  padding: 2px 15px 2px 15px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.bubble-right {
  padding: 2px 15px 2px 15px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}


.aligner-wrap {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-wrap: wrap;
}
