
div.dataTables_wrapper div.dataTables_filter {
  text-align: right;
}
div.dataTables_wrapper div.dataTables_filter label {
  font-weight: normal;
  white-space: nowrap;
  text-align: left;
}

div.dataTables_wrapper div.dataTables_filter input {
  margin-left: 0.5em;
  display: inline-block;
  width: auto;
}

div.dataTables_wrapper div.dataTables_filter input {
  margin-bottom: 0px
}

.table-header {
  position: absolute;
  padding-bottom: 15px;
  width: 100%;
  text-align: center;
  /* font-size: 2em; */
}